
.siga{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header_link{
  font-family: 'Courier New', Courier, monospace;
  padding: 1%;
}

.pag-profs{
  font-family: 'Courier New', Courier, monospace;
}

.texto{
  text-align: center;
}

.top-header {
  display: flex;
  justify-content: space-around;
}