<html (mousemove)="onMove()">
  <div class="formulario_cadeira">
    <table>
      <tr>
        <td><label>Nome </label></td>
        <td><input [(ngModel)]="cadeira.nome_disciplina" ></td>
        <td><button (click)="criarCadeira(cadeira)">Adicionar</button></td>
      </tr>
      <tr>
        <td><label>Professor </label></td>
        <td><input [(ngModel)]="cadeira.nome_professor" ></td>
        <td *ngIf="nome_disciplina_duplicado">
          Já existe uma cadeora com esse nome
        </td>
      </tr>
      <tr>
        <td><label>Total de vagas </label></td>
        <td><input [(ngModel)]="cadeira.numero_vagas" ></td>
      </tr>
      <tr>
        <td><label>Carga Horária </label></td>
        <td><input [(ngModel)]="cadeira.carga_horaria" ></td>
      </tr>
      <tr>
        <td><label>Departamento Ofertante </label></td>
        <td><input [(ngModel)]="cadeira.departamento_ofertante" ></td>
      </tr>
    </table>
  </div>
  <div class="tabela_cadeiras">
    <table>
      <tr *ngIf="cadeiras.length > 0">
        <th>Nome </th>
        <th>Professor </th>
        <th>Total de Vagas </th>
        <th>Carga Horária </th>
        <th>Departamento Ofertante </th>
      </tr>
      <tr *ngFor="let c of cadeiras" class="cadeiras">
        <td>{{c.nome_disciplina}}</td>
        <td>{{c.nome_professor}}</td>
        <td>{{c.numero_vagas}}</td>
        <td>{{c.carga_horaria}}</td>
        <td>{{c.departamento_ofertante}}</td>
      </tr>
    </table>
  </div>
</html>