<html>
  <div align="center">
    <td><a routerLink="/criarCadeira"><button>Adicionar</button></a></td>
    <div class="tabela_cadeiras">
      <table>
        <tr>
          <th>Nome </th>
          <th>Professor </th>
          <th>Total de Vagas </th>
          <th>Carga Horária </th>
          <th>Departamento Ofertante </th>
        </tr>
        <tr *ngFor="let c of cadeiras" class="cadeiras">
          <td>{{c.nome_disciplina}}</td>
          <td>{{c.nome_professor}}</td>
          <td>{{c.numero_vagas}}</td>
          <td>{{c.carga_horaria}}</td>
          <td>{{c.departamento_ofertante}}</td>
        </tr>
      </table>
    </div>
    <br>
    <table *ngFor="let c of cadeiras" width="100%" bgcolor="#ffffff" class="cadeiras_list">
      <tbody>
        <tr>
          <td align="left">
            <input type="button" style="min-width:20px" value="+">
            <font class="edit"><b>{{c.nome_disciplina}}: </b></font>
            <font class="edit_pesquisa"><b>{{c.nome_professor}}</b></font>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</html>