<html>
  <div align="center">
    <td><a routerLink="/criarCadeira"><button>Adicionar</button></a></td>
    <div class="tabela_cadeiras">
      <table>
        <tr>
          <th>Nome </th>
          <th>Professor </th>
          <th>Total de Vagas </th>
          <th>Carga Horária </th>
          <th>Departamento Ofertante </th>
        </tr>
        <tr *ngFor="let c of cadeiras" class="cadeiras">
          <td>{{c.nome_disciplina}}</td>
          <td>{{c.nome_professor}}</td>
          <td>{{c.numero_vagas}}</td>
          <td>{{c.carga_horaria}}</td>
          <td>{{c.departamento_ofertante}}</td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div>
    <table *ngFor="let d of departamentos" width="100%">
      <tbody>
        <tr>
          <td align="left">
            <input type="button" style="min-width:20px" value="+">
            <font class="edit"><b>{{d}}: </b></font>
          </td>
        </tr>
        <table *ngFor="let c of getTableLine(d)">
          <tr>
            <td>
              <input type="button" style="min-width:20px" value="+">
              <font class="edit"><b>{{c.nome_disciplina}}: </b></font>
            </td>
          </tr>
          <tr>Professor: {{c.nome_professor}}</tr>
          <tr>Número de Vagas Totais: {{c.numero_vagas}}</tr>
          <tr>Carga Horária: {{c.carga_horaria}}</tr>
        </table>
      </tbody>
    </table>
  </div>
</html>