<html ng-app="app">

<h3 class="msg">Digite suas informações:</h3>

<h4>Selecione o tipo de usuário:</h4>
<body ng-controller="user as us">
   <select name="usertype" ng-model="us.escolha" [(ngModel)]="pessoa.role" class="browser-default">
      <option value="" disabled selected>
         Selecione o Tipo de usuário
       </option>
      <option value="p">Professor</option>
      <option value="a">Aluno</option>
   </select>
</body>

<table class="cad">
   <tr>
      <td><label>Nome</label></td>
      <td><input [(ngModel)]="pessoa.name" ></td>
   </tr>
   <tr>
      <td><label>Email</label></td>
      <td><input [(ngModel)]="pessoa.email" ></td>
   </tr>
   <tr>
      <td><label>Senha</label></td>
      <td><input type="password" minlength="8" required [(ngModel)]="pessoa.senha" ></td>
   </tr>
</table>

<button class="btcad" (click)="criarPessoa(pessoa)">Salvar</button>

</html>
