.login{
  margin-left:auto; 
  margin-right:auto;
  background-color: rgb(243, 242, 179);
  padding: 10px;
  margin-top: 8%;
}

.msg{
  text-align: center;
  margin-top: 5%;
}

.my_form {
  padding-left: 20%;
  width: 80%;
}


button:hover {
  background-color: #cfd8dc;
}

button {
  margin-left: 20%;
}


.btcad{
  margin-left: 46%;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(44, 108, 247);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

.btlogin{
  font-family: Arial;
  background-color: rgb(241, 129, 38);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}