<html (mousemove)="onMove()">

<h3 class="msg">Bem vindo, aluno!</h3>

<table class="login">
   <tr>
      <td><label>CPF </label></td>
      <td><input [(ngModel)]="aluno.cpf" ></td>
      <td *ngIf="cpfduplicado">
      Já existe um aluno com esse CPF
      </td>
   </tr>
   <tr>
      <td><label>Senha </label></td>
      <td><input type="password" [(ngModel)]="aluno.senha" ></td>
   </tr>
   <tr>
      <td><button class="btlogin" (click)="logarAluno(aluno)">Fazer Login</button></td>
   </tr>
</table>

<nav>
   <a routerLink="/cadastro">
      <button class="btcad">Cadastrar</button>
   </a>
</nav>

<router-outlet></router-outlet>

</html>