<html>
  <h2 *ngIf="account != undefined">Bem vindo {{account.nome}}!</h2>
  <div align="center">
    <table *ngIf="checkIfProf(account)">
      <td><a routerLink="/criarCadeira"><button>Adicionar</button></a></td>
    </table>
    <table>
      <tr>
        <td>
          <select [(ngModel)]="departamento">
            <option *ngFor="let d of departamentos" value={{d}}>{{d}} </option>
          </select>
        </td>
        <td>
          <select [(ngModel)]="nomeCadeira">
            <option *ngFor="let d of getTableLine(departamento)" value={{d.nome_disciplina}}>{{d.nome_disciplina}} </option>
          </select>
        </td>
        <td><button (click)="loadCadeira(nomeCadeira)">Selecionar</button></td>
      </tr>
    </table>
  </div>
  <div *ngIf="(cadeira != undefined)" align="center">
    <table>
      <tr>
        <td><label>Nome: {{cadeira.nome_disciplina}}</label></td>
        <td *ngIf="checkIfAluno(account)"><button (click)="matricula(cadeira, account)">Matricular</button></td>
      </tr>
      <tr>
        <td><label>Professor: {{cadeira.nome_professor}}</label></td>
      </tr>
      <tr>
        <td><label>Departamento Ofertante: {{cadeira.departamento_ofertante}}</label></td>
      </tr>
      <tr>
        <td><label>Total de vagas: {{cadeira.numero_vagas}}</label></td>
      </tr>
      <div *ngIf="checkIfProf(account)">
        <tr *ngFor="let a of cadeira.alunos">
          <td>{{a}}</td>
        </tr>
      </div>
    </table>
    <br>
    <div class="gradeHorarios">
      <table border="0" cellspacing="0" cellpadding="0" width="570" bordercolor="#000000">
        <tbody>
          <tr>
            <td bgcolor="#ffcc99" class="topoTabelaEsq" align="center" width="40"><b>Horários</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaCentro" align="center" width="80"><b>Segunda</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaCentro" align="center" width="80"><b>Terça</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaCentro" align="center" width="80"><b>Quarta</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaCentro" align="center" width="80"><b>Quinta</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaCentro" align="center" width="80"><b>Sexta</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaDir" align="center" width="80"><b>Sábado</b></td>
          </tr>
        </tbody>
        <tbody *ngFor="let h of horarios" border="0" cellspacing="0" cellpadding="0" width="570" bordercolor="#000000">
          <tr>
            <td *ngIf="h < 10" align="center">0{{h}}:00</td>
            <td *ngIf="h >= 10" align="center">{{h}}:00</td>
            <td *ngFor="let weekday of weekdays">
              <div *ngIf="cadeira.horarios[weekday].has(h)" class="horario_selecionado">.</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
</html>