<html (mousemove)="onMove()">
  <div class="formulario_cadeira" align="center">
    <table>
      <tr>
        <td><label>Nome </label></td>
        <td><input [(ngModel)]="cadeira.nome_disciplina" ></td>
        <td><button (click)="criarCadeira(cadeira)">Finalizar</button></td>
      </tr>
      <tr>
        <td><label>Professor </label></td>
        <td><input [(ngModel)]="cadeira.nome_professor" ></td>
        <td *ngIf="mensagem_erro_adicionar">
          {{mensagem_erro_adicionar}}
        </td>
      </tr>
      <tr>
        <td><label>Departamento Ofertante </label></td>
        <td><input [(ngModel)]="cadeira.departamento_ofertante" ></td>
      </tr>
      <tr>
        <td><label>Total de vagas </label></td>
        <td><input type="number" min="1" [(ngModel)]="cadeira.numero_vagas" ></td>
      </tr>
      <!-- <tr>
        <td><label>Carga Horária </label></td>
        <td><input type="number" min="1" [(ngModel)]="cadeira.carga_horaria" ></td>
      </tr> -->
    </table>
    <br>
    <div class="gradeHorarios">
      <table border="0" cellspacing="0" cellpadding="0" width="570" bordercolor="#000000">
        <tbody>
          <tr>
            <td bgcolor="#ffcc99" class="topoTabelaEsq" align="center" width="40"><b>Horários</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaCentro" align="center" width="80"><b>Segunda</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaCentro" align="center" width="80"><b>Terça</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaCentro" align="center" width="80"><b>Quarta</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaCentro" align="center" width="80"><b>Quinta</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaCentro" align="center" width="80"><b>Sexta</b></td>
            <td bgcolor="#ffcc99" class="topoTabelaDir" align="center" width="80"><b>Sábado</b></td>
          </tr>
        </tbody>
        <tbody *ngFor="let h of horarios" border="0" cellspacing="0" cellpadding="0" width="570" bordercolor="#000000">
          <tr>
            <td *ngIf="h < 10" align="center">0{{h}}:00</td>
            <td *ngIf="h >= 10" align="center">{{h}}:00</td>
            <td *ngFor="let weekday of weekdays" (click)="toggleHorario(cadeira, weekday, h)" align="center">
              <div *ngIf="cadeira.horarios[weekday].has(h)" class="horario_selecionado">.</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</html>